---
import { CollectionEntry, getCollection, getEntryBySlug } from "astro:content";
import BaseLayout from "../../layouts/base-layout.astro";
import { Picture } from "@astrojs/image/components";

interface Props {
	entry: CollectionEntry<"blog">;
}

export async function getStaticPaths() {
	const blogEntries = await getCollection("blog");
	return blogEntries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry: ent } = Astro.props;
const { slug } = Astro.params;

const { Content } = await ent.render();
const entry = await getEntryBySlug("blog", slug as any);
---

<BaseLayout title={entry?.data.title ?? ""}>
	<div class='content'>
		<div class='inner-content'>
			<div class='img-cont'>
				<Picture
					src={`/blog/${entry?.data.image}`}
					alt={entry?.data.title ?? ""}
					widths={[500]}
					aspectRatio='1:1'
					formats={["avif", "webp", "jpg"]}
					loading='eager'
				/>
			</div>
			<div>
				<h1>{entry?.data.title}</h1>
				<Content />
			</div>
		</div>
	</div>
</BaseLayout>

<style lang='scss'>
	.content {
		padding-top: 100px;
		padding-inline: 2rem;
		margin: 0 auto;
		padding-bottom: 80px;

		@media screen and (min-width: 800px) {
			padding-inline: 0;
		}
	}

	h1 {
		@media screen and (min-width: 800px) {
			margin-block-start: 0;
		}
	}

	.img-cont {
		@media screen and (min-width: 800px) {
			position: sticky;
			top: 1rem;
			margin-inline-start: 1rem;
			height: calc(100vh - 100px);
		}
	}

	.inner-content {
		max-width: 1200px;
		margin: 0 auto;

		@media screen and (min-width: 800px) {
			display: grid;
			grid-template-columns: 400px 1fr;
			gap: 1.5rem;

			div {
				padding-inline: 2rem;
				font-size: 0.875rem;

				h1 {
					font-size: 1.9rem;
				}
			}
		}
	}
</style>
