---
import BasrLayout from "../../layouts/base-layout.astro";
import { PhotosGrid } from "../../components/general/photos-grid";
import { arrayPattern } from "../../helpers/array-pattern";
import { getCategories, getPictures } from "../../helpers/get-pictures";
import Dropdown from "../../components/general/dropdown.astro";
import type { MenuItem } from "../../types/menu-item";

export const getStaticPaths = async () => {
    const categories = await getCategories();
    return categories.map((x) => ({
        params: { category: x.category },
    }));
};

const { category: cat } = Astro.params;

const randommizer = [1, 2, 1];

const pics = await getPictures(cat ?? "");

const randomVals = arrayPattern(pics.length, randommizer);

const categories = await getCategories();

const dropdownItems: MenuItem[] = categories.map((c) => ({
    label: c.displayName,
    link: `/photos/${c.category}`,
}));
---

<BasrLayout title='Photos'>
    <div class='content'>
        <div class='title-container'>
            <h1 class='head'>Photos</h1>
            <Dropdown dropdownItems={dropdownItems}>
                {categories.find((x) => x.category === cat)?.displayName}
            </Dropdown>
        </div>
        <PhotosGrid pics={pics} randomVals={randomVals} client:load />
    </div>
</BasrLayout>

<style>
    .title-container {
        max-width: 1300px;
        padding: 2rem;
        margin: 0 auto;
        margin-block-start: 100px;
        padding-bottom: 0;

        .head {
            margin: 0;
            margin-block-end: 1rem;
            padding: 0;
        }

        @media screen and (min-width: 600px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-block-end: 0;
            padding-block: 1.5em;
        }
    }
</style>
