---
import BasrLayout from "../../layouts/base-layout.astro";
import { getPicture } from "@astrojs/image";
import { PhotosGrid } from "../../components/general/photos-grid";
import { arrayPattern } from "../../helpers/array-pattern";

const picturesSrc = [
    {
        img_id: 1,
        img_path:
            "https://c1.staticflickr.com/5/4186/33765519373_e58db97649_c.jpg",
        categ_id: 1,
        category: "Abstract",
        caption: "backlit cellular",
    },
    {
        img_id: 2,
        img_path:
            "https://res.cloudinary.com/dk61arwer/image/upload/v1686597505/photos/175268847_yqcwpf.jpg",
        categ_id: 1,
        category: "Abstract",
        caption: "backlit cellular",
    },
    {
        img_id: 3,
        img_path:
            "https://live.staticflickr.com/65535/49662124336_b6d0a49070_c.jpg",
        categ_id: 1,
        category: "Abstract",
        caption: "backlit cellular",
    },
    {
        img_id: 4,
        img_path:
            "https://farm5.staticflickr.com/4808/44897301895_3052c97eea_c.jpg",
        categ_id: 1,
        category: "Abstract",
        caption: "backlit cellular",
    },
];

const picturesPromise = picturesSrc.map(async (pic) => {
    return await getPicture({
        alt: pic.caption,
        formats: ["avif", "webp", "jpg"],
        src: pic.img_path,
        widths: [800],
        aspectRatio: "3:2",
        fit: "cover",
    });
});

const pics = await Promise.all(picturesPromise);

const randommizer = [1, 2, 1];
const randomVals = arrayPattern(pics.length, randommizer);
---

<BasrLayout title='Photos'>
    <div class='content'>
        <div class='title-container'>
            <h1>Photos</h1>
            <!-- <Dropdown dropdownItems={categoriesDropDownItems}>
				{FilmCategories[cat as never]}
			</Dropdown> -->
        </div>
        <PhotosGrid pics={pics} randomVals={randomVals} client:load />
    </div>
</BasrLayout>

<style>
    .title-container {
        max-width: 1300px;
        padding: 2rem;
        margin: 0 auto;
        padding-top: 100px;
        padding-bottom: 0;

        h1 {
            margin: 0;
            margin-block-end: 1rem;
            padding: 0;
        }

        @media screen and (min-width: 600px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-block-end: 0;
            padding-block: 1.5em;
        }
    }
</style>
