---
const props = Astro.props;
---

<div {...props} class='container'><slot /></div>

<style lang='scss'>
    .container {
        padding: 1.5em;
        background-color: #121c36;
        border-radius: 0.5em;

        > p {
            margin: 0;
            font-size: 1rem;
        }
    }
</style>
