---
import { Picture } from "@astrojs/image/components";
import Section from "../section.astro";
import ContactImage from "../../assets/contact-image.jpg";
import { Icon } from "astro-icon";
---

<Section>
	<div class='container'>
		<div class='content'>
			<div class='text-block'>
				<h1>About Me</h1>
				<p>
					My Name is Viraj Shukla, I'm from New Delhi, India. My friendship with
					the lens started at 7. Since then the journey has led me to discover
					the beautiful world around us.
				</p>
				<p>
					I am also a self-taught front-end developer and am currently working
					as a front-end developer.
				</p>
			</div>
			<div class='text-block hobbies'>
				<h2 class='subdued-title'>My Hobbies and Skills</h2>
				<div class='chips-container'>
					<div class='chip'>HTML</div>
					<div class='chip'>CSS</div>
					<div class='chip'>JavaScript</div>
					<div class='chip'>Tailwind CSS</div>
					<div class='chip'>Figma</div>
					<div class='chip'>Photography</div>
					<div class='chip'>Cinematography</div>
				</div>
			</div>
			<div class='text-block hobbies'>
				<h2 class='subdued-title'>Contact Me</h2>
				<a href='mailto:hi@virajshukla.com'>hi@virajshukla.com</a>
				<div class='socials'>
					<a
						href='https://www.linkedin.com/in/viraj-shukla-012851202/'
						target='_blank'
						rel='noopener noreferrer'
						class='logo-a'
					>
						<Icon name='mdi:linkedin' size={30} />
					</a>
					<a
						href='https://www.instagram.com/2000viraj/'
						target='_blank'
						rel='noopener noreferrer'
						class='logo-a'
					>
						<Icon name='ph:instagram-logo-fill' size={30} />
					</a>
					<a
						href='https://github.com/VirajS00'
						target='_blank'
						rel='noopener noreferrer'
						class='logo-a'
					>
						<Icon name='uil:github' size={30} />
					</a>
					<a
						href='https://codepen.io/virajs00'
						target='_blank'
						rel='noopener noreferrer'
						class='logo-a'
					>
						<Icon name='ri:codepen-fill' size={30} />
					</a>
					<a
						href='https://www.youtube.com/channel/UCFVQF4STzBq1I72GtUCfCFQ'
						target='_blank'
						rel='noopener noreferrer'
						class='logo-a'
					>
						<Icon name='mdi:youtube' size={30} />
					</a>
				</div>
			</div>
		</div>
		<div class='bg-img' aria-hidden='true'>
			<Picture
				src={ContactImage}
				widths={[1080]}
				alt='Conact Image'
				formats={["avif", "jpg", "webp"]}
				aspectRatio='2:3'
			/>

			<div class='overlay' aria-hidden='true'></div>
		</div>
	</div>
</Section>

<style lang='scss'>
	.container {
		display: grid;
		height: 100%;
		grid-template-rows: 1.5fr 1fr;
		height: calc(100vh - 100px);

		@media screen and (min-width: 600px) {
			grid-template-columns: repeat(2, 1fr);
			align-items: center;
		}
	}

	.text-block {
		padding-inline: 2.5rem;
		justify-self: end;

		h1 {
			font-size: clamp(2rem, 8vw, 4rem);
		}

		p {
			color: #707070;
		}

		&.hobbies {
			margin-top: 5rem;
		}

		@media screen and (min-width: 600px) {
			padding-inline: 4rem;
			max-width: 80ch;
		}
	}

	.subdued-title {
		color: #787878;
	}

	.content {
		@media screen and (min-width: 1200px) {
			padding-left: 15rem;
		}
	}

	.bg-img {
		position: relative;
		bottom: 0;
		user-select: none;

		img {
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
			position: absolute;
		}

		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			height: 80%;
			width: 100%;
			background-image: linear-gradient(#000, transparent);

			@media screen and (min-width: 600px) {
				background-image: linear-gradient(90deg, #000, transparent),
					linear-gradient(0deg, transparent 70%, #000 100%);
				height: 100%;
			}
		}

		@media screen and (min-width: 600px) {
			height: calc(100vh + 100px);
			margin-top: -200px;
		}
	}

	.chip {
		padding: 0.5rem 1.2rem;
		background-color: #292929;
		border-radius: 100vh;
		display: inline-block;
		font-size: 0.875rem;
	}

	.chips-container {
		display: flex;
		flex-wrap: wrap;
		gap: 0.7em;
	}

	.socials {
		margin-top: 0.8em;
		display: flex;
		flex-wrap: wrap;
		gap: 0.5em;
	}

	.logo-a {
		text-decoration: none !important;
	}
</style>
